*{
padding: 0px;
margin: 0px;
}

body{
    background: url(../img/circuitos.jpg) no-repeat fixed center center;
}

#div1{
  margin-top: 20px;
}

#sect1{
	background: #ffe6cc;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
  border: dashed;
  border-radius: 12px;
  border-color: #FCFFFE;
}

.navbar{
  background-color: #330000;
}

.menu_entradas_nombres{

color: black;
font-family: century;
font-size: 1.5em;
background: #ffe6cc;
margin-left: 0px;
margin-right: 0px;
margin-top: 10px;
border: dashed;
border-radius: 12px;
border-color: #330000;
}

img{
width: 100%;
height: 150px;
}

.gris{
background-color: gray;
}

.naranja{
color: white;
text-align: center;
font-family:Century;
background-color: ;
}

.negro{
background-color: black;
}

.entradas{
color: white;
font-family:Batang;
text-align: center;
}

.platos_fuertes{
color: white;
font-family:Batang;
text-align: center;
}

.mariscos{
color: white;
font-family:Batang;
text-align: center;
}

.postres{
color: white;
font-family:Batang;
text-align: center;
}

.bebidas{
color: white;
font-family:Batang;
text-align: center;
}

.bebidas_alcoholicas{
color: white;
font-family:Batang;
text-align: center;
}

footer{
  background: #330000;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  border: dashed;
  border-radius: 8px;
  border-color: #330000;
}

.platillos{
  margin-top: -20px;
}
